<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>


</head>
<body>
{% block content %}

{% endblock %}
<nav class="uk-navbar-container  uk-position-bottom" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
            <div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="" class=" " uk-icon="icon:home;ratio:1.3"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-navbar-item">
            <a href="#" id="js-modal-prompt" class=" uk-icon-button uk-background-secondary uk-box-shadow-large"
               uk-icon="plus" style="width: 50px; height: 50px;"></a>
        </div>
        <div class="uk-navbar-center-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li><a href="" class=" " uk-icon="icon:settings;ratio:1.3"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    UIkit.util.on('#js-modal-prompt', 'click', function (e) {
        e.preventDefault();
        e.target.blur();
        UIkit.modal.prompt(
            'Name:', 'Your name'
        )
            .then(function (name) {
            console.log('Prompted:', name)
          });
    });
</script>

</body>
</html>

